.About {
  margin-top: 100px 40px;
  max-width: 800px;
  margin: 0 auto;
}

.About h2 {
  font-family: var(--title-font);
  color: var(--secondary-color);
  font-size: 3rem;
  margin: 30px;
}

.About h3 {
  font-family: var(--primary-font);
  text-align: start;
}

.About p {
  color: var(--paragraph-color);
  text-align: start;
}

.container {
  margin-bottom: 50px;
}

img {
  max-width: 80%;
}

.cert {
  margin-bottom: 20px;
}
.shecodes-certs {
  font-family: var(--primary-font);
  text-align: center;
  margin: 30px 0 30px;
}
.cert:hover {
  border: solid 4px #fa9fb9;
  border-radius: 8px;
  transition: var(--default-transition);
}
img:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.first-row {
  justify-content: left;
}
.second-row {
  justify-content: right;
}
