.Contact {
  padding: 30px 0px;
  background-color: var(--main-color);
}

.contact-message {
  color: rgba(198, 255, 224, 0.89);
  font-size: 20px;
}

.Contact .form-group {
  max-width: 600px;
  margin: 0 auto;
}
.Contact label {
  align-items: left;
  margin-bottom: 5px;
}
.Contact input {
  margin-bottom: 20px;
}
.Contact h2 {
  font-family: var(--title-font);
  color: var(--secondary-color);
  margin: 30px 0 10px 0;
  font-size: 3rem;
}

.form-control-message {
  padding: 6px 12px 36px;
}

#exampleInputEmail1 {
  margin-bottom: 0;
}
