@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --title-font: "Abril Fatface", cursive;
  --primary-font: "Roboto", sans-serif;
  --default-transition: ease-out 150ms;
}
.App {
  text-align: center;
}
