.Hero {
  padding: 150px 120px;
  position: relative;
}

.Hero vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Hero .icon {
  width: 40px;
  margin: 5px;
}

.Hero h1 {
  font-family: var(--title-font);
  font-size: 60px;
}
.Hero p {
  font-size: 30px;
}

.profile-pic {
  width: 300px;
}

@media (max-width: 960px) {
  .Hero {
    padding: 50px 80px;
    position: relative;
  }
  .Hero h1 {
    font-family: var(--title-font);
    font-size: 45px;
  }
  .Hero p {
    font-size: 20px;
  }
  .profile-pic {
    width: 200px;
    margin-top: 30px;
  }
}
