.MyWorks {
  margin: 50px auto;
  max-width: 1000px;
}

.MyWorks h2 {
  font-family: var(--title-font);
  color: var(--secondary-color);
  margin: 30px;
  font-size: 3rem;
}

.MyWorks .launch-app:hover {
  opacity: 0.8;
}
