@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --title-font: "Abril Fatface", cursive;
  --primary-font: "Roboto", sans-serif;
  --main-color: #016869;
  --secondary-color: #f89d9d;
  --light-main: #4e8d7c;
  --bg-color: #fff5e1;
  --paragraph-color: rgb(53, 53, 53);
  --default-transition: ease-out 150ms;
}
.App {
  text-align: center;
  width: 100%;
  background-color: var(--bg-color);
}

/*With ".container", there is spaces on the left and right. Use .container-fluid for a full width container*/
.container-fluid {
  background-color: var(--main-color);
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.navbar {
  width: 100%;
  background-color: var(--main-color);
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
}
.link {
  font-size: 1.2rem;
}

footer {
  padding: 10px 0;
}
