.Hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 120px 170px;
  position: relative;
  background-color: var(--main-color);
}

.Hero vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Hero .icon {
  width: 40px;
  margin: 5px;
}

.Hero h1 {
  font-family: var(--title-font);
  color: var(--secondary-color);
  font-size: 7rem;
  text-align: left;
  line-height: 7rem;
  margin-top: 3rem;
}
.Hero .wave {
  margin: 10px;
  text-align: start;
}
.Hero p {
  font-size: 2.5rem;
}

.profile-pic {
  max-width: 100%;
  width: 300px;
  display: inline;
  margin: 0 20px;
}

@media (max-width: 960px) {
  .Hero {
    padding: 10px 80px 40px;
    display: block;
  }
  .Hero h1 {
    font-family: var(--title-font);
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-top: 30px;
  }
  .Hero p {
    font-size: 20px;
  }
  .profile-pic {
    width: 200px;
    margin: 30px auto;
    display: block;
  }
}
