.MyWorks {
  margin-top: 100px 40px;
  max-width: 800px;
  margin: 0 auto;
}

.MyWorks h2 {
  margin: 50px auto;
  font-family: var(--title-font);
  color: var(--secondary-color);
  font-size: 3rem;
}

.MyWorks .launch-app:hover {
  opacity: 0.8;
}
