.MyWorks {
  margin-top: 100px 40px;
  max-width: 800px;
  margin: 0 auto;
}

.MyWorks h2 {
  margin: 50px auto;
  font-family: var(--title-font);
  color: var(--secondary-color);
  font-size: 3rem;
}

.MyWorks h3 {
  margin-top: 20px;
}

.MyWorks p {
  margin-bottom: 20px;
}

.MyWorks a {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 15px 20px;
  margin: 100px 7px;
  border-radius: 40px;
  text-decoration: none;
  background-color: #00196b;
}

@media (max-width: 960px) {
  .MyWorks img {
    margin: 0;
  }
  .MyWorks h3 {
    margin: 0;
  }
}
